packages:
  yum:
    git: []
    htop: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_NAME: store-elastic
    ENV: staging

commands:
  01_filebeat:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.4.2-x86_64.rpm"
    cwd: /home/ec2-user
  02_filebeat:
    command: "sudo rpm -ivh --replacepkgs filebeat-7.4.2-x86_64.rpm"
    cwd: /home/ec2-user
  03_filebeat:
    command: "git clone https://amitkumar642:amit10904408@github.com/metiseduventures/devops.git"
    cwd: /home/ec2-user
  04_filebeat:
    command: "sudo cp -f /home/ec2-user/devops/filebeat/config/filebeat.yml /etc/filebeat/filebeat.yml"
  05_filebeat:
    command: "sudo cp -f /home/ec2-user/devops/filebeat/config/apache.yml /etc/filebeat/modules.d/apache.yml"
  06_filebeat:
    command: "sudo cp -f /home/ec2-user/devops/filebeat/config/nginx.yml /etc/filebeat/modules.d/nginx.yml"
  07_filebeat:
    command: "sudo rm -rf devops"
    cwd: /home/ec2-user
  07_filebeat:
    command: "sudo rm -rf devops"
    cwd: /home/ec2-user
  08_filebeat:
    command: "sudo service filebeat stop"
container_commands:
  01_set_environment_name:
    command: "apname=$(/opt/elasticbeanstalk/bin/get-config environment -k APPLICATION_NAME); sed -i 's/appname/'$apname'/g' /etc/filebeat/filebeat.yml"
  02_setenvironment_name:
    command: "evname=$(/opt/elasticbeanstalk/bin/get-config environment -k ENV_NAME); sed -i 's/envname/'$evname'/g' /etc/filebeat/filebeat.yml"
  03_start_filebeat:
    command: "/etc/init.d/filebeat start" 

