packages:
  yum:
    git: []

commands:
  01_filebeat:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.4.2-x86_64.rpm"
    cwd: /home/ec2-user
  02_filebeat:
    command: "sudo rpm -ivh --replacepkgs filebeat-7.4.2-x86_64.rpm"
    cwd: /home/ec2-user
  03_filebeat:
    command: "git clone https://amitkumar642:amit10904408@github.com/metiseduventures/devops.git"
    cwd: /home/ec2-user
  04_filebeat:
    command: "sudo cp -f /home/ec2-user/devops/filebeat/storefrontadmin/filebeat.yml /etc/filebeat/filebeat.yml"
  05_filebeat:
    command: "sudo cp -f /home/ec2-user/devops/filebeat/storefrontadmin/apache.yml /etc/filebeat/modules.d/apache.yml"
  06_filebeat:
    command: "sudo rm -rf filebeat"
    cwd: /home/ec2-user
  07_filebeat:
    command: "sudo service filebeat start"

